hgroup
  h1 Physics for Lazy Game Developers
  h2 Barcamp Charlotte 2010
p Welcome redditors and ...twitter...ers! This is me 
  a(href="http://twitter.com/hunterloftis") on twitter
  |  and 
  a(href="http://www.reddit.com/user/strixvarius/") on reddit
  |. I work
  a(href="http://skookum.com") here
  |  building web apps. Glad some people have found this useful!

div#lists
  img#diagram.right(src="/images/diagram.png")
  h2 Newton
  ol
    li
      a(href='newton/0') Position
    li
      a(href='newton/1') Velocity
    li
      a(href='newton/2') Acceleration
    li
      a(href='newton/3') Collisions (elastic)
    li
      a(href='newton/4') Collisions (mostly elastic)

  h2 Euclid
  ol
    li
      a(href='euclid/0') Rotation (known angle)
    li
      a(href='euclid/1') Rotation (unknown angle)
    li
      a(href='euclid/2') Rotation (triangle overlay)
    li
      a(href='euclid/3') Rotation + particles

  h2 Complex
  ul
    li
      a(href='/demos/canvastest') Canvas Test
    li
      a(href='/demos/skookball') Skookball Prototype

  br.clear

