!!! 5
html
  head
    meta(charset="utf-8")
    title BarcampClt Physics - Skookum Labs
    link(rel='stylesheet', href='/styles/barcampclt_physics.css' )

  body
    div.notice We're hiring! 
      a(href='') Join us
    div#logo Skookum Labs
    != body
