#labs_bar {
  height: 20px;
  padding: 5px 10px;
  font-family: Arial;
  font-size: 12px;
  text-align: right;
  background: rgba(0,0,0,0.80);
}
#labs_bar a {
  color: #eee;
  text-decoration: none;
}
#labs_bar a:hover {
  color: #008000;
  text-decoration: underline;
}
