section(role="main")
  #projects-wrapper
    #projects-list(style="position:relative")
      #projects-all(data-bind="morph: {show: viewingAll, connected: '#projects-tagged'}")
        h2 Featured Projects
        ul.projectlist(data-bind="template: {name: 'project-thumbnail', foreach: featured_projects}")
        h2 Demos
        ul.projectlist(data-bind="template: {name: 'project-thumbnail', foreach: nonfeatured_projects}")
      #projects-tagged(data-bind="morph: {show: !viewingAll(), connected: '#projects-all'}")
        h2 Demos
        ul.projectlist(data-bind="template: {name: 'project-thumbnail', foreach: projects}")
        p.empty(data-bind="visible: projectsEmpty") No projects match all the tags you've selected! Maybe you should try again?
    #projects-tags
      ul
        li.all(data-bind="css: { selected: viewingAll }")
          a(href="#", data-bind="click: clearTags") Show All
        // ko foreach: tags 
        li(data-bind="css: { selected: selected }")
          a(href="#", data-bind="text: name, click: toggle")
        // /ko 
  #projects-modal-overlay
  #projects-modal
    h2(data-bind="text:name")
    p(data-bind="text: description")
    img(data-bind="attr: { src: screenshot }", align="right")

script#project-thumbnail(type="text/html")
  li(data-bind="attr: {'class': id, 'aria-hidden': !visible() }, css: { 'project-hidden': !visible() }")
    //a(data-bind="attr: { href: link }, click: showModal", target="_blank")
    a(data-bind="attr: { href: link }")
      img.screenthumb(data-bind="attr: { src: screenshot }") 
      span(data-bind="html: name")

!= embed_json(projects, 'projects')
script
  $(function() {
    window.projectsVM = new ProjectsVM();
    projectsVM.load(projects);
    ko.applyBindings(projectsVM, document.getElementById('projects-wrapper'));
    
    ko.applyBindings(projectsVM.selectedProject, document.getElementById('projects-modal'));
  });