#demo_container
  background white
  color #333

#todoapp
  width 90%
  margin 20px auto 40px
  background white
  padding 20px
  min-height 300px

#create-todo
  position relative

  input
    border 1px solid #999999
    box-shadow rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset
    color #aaa
    display inline
    font-size 24px
    font-family inherit
    line-height 1.4em
    outline none
    padding 6px
    width 80%

    &:focus,
    &:active
      color #555

  #new-todo-hours
    position absolute
    top 0
    right 0
    width 20%

  span
    left 50%
    position absolute
    margin-left -85px
    width 170px
    z-index 999

/*match placeholder/watermark padding to border+padding for input element*/
label.placeholder
  color #AAA
  cursor text
  font-size 140%
  padding 4px
  padding 12px

/* html5 placeholder support */

input,
textarea
  &::-webkit-input-placeholder
    color #AAA

  &:placeholder
    color #AAA

input,
textarea
  &:valid,
  &:invalid
    background #fff

#addItemButton
  display none

#todo-list
  margin-top 10px
  position relative

  li
    border-bottom 1px solid #ccc
    font-size 18px
    line-height 1.1em
    list-style none
    padding 12px 20px 11px 0
    position relative

    &:after
      content "\0020"
      clear both
      display block
      height 0
      overflow hidden
      visibility hidden

    &.editing
      border-bottom 0
      padding 0

  .editing .display,
  .edit
    display none

  .editing .edit
    display block

input.enteredItem
  font-size: 24px;
  font-family: inherit;
  margin: 0;
  line-height: 1.6em;
  border: 0;
  outline: none;
  padding: 0px 0px 0px 10px;
  border: 1px solid transparent;
  width:90%;

#todo-list
  li:hover .todo-destroy,
  .todo-hours:after
    content " Hours"

  .todo-hours
    font-size 75%
    font-style italic
    position absolute
    right 30px
    top 13px
    text-align right

  .done .todo-content
    color #777
    text-decoration line-through

  li .check
    display none
    position absolute
    left 20px
    margin-top -4px
    top 50%
    z-index 999

  .todo-destroy
    background url('/images/knockout_todos/destroy.png') no-repeat 0 0
    cursor pointer
    display none
    height 20px
    position absolute
    right 5px
    top 14px
    width 20px

    &:hover
      background-position 0 -20px;

  li:hover .todo-destroy,
  li:hover .check
    display block

#instructions
  color #777
  margin 10px auto
  text-align center
  text-shadow rgba(255, 255, 255, 0.8) 0 1px 0
  width 100%

#credits
  color #999
  margin 30px auto
  text-align center
  text-shadow rgba(255, 255, 255, 0.8) 0 1px 0

#todo-list
  li
    border-bottom none
    padding 0
    border 0
    margin-left -40px
    padding-left 40px

    .todo-content
      background #fff
      padding 4px 20px 4px 0
      border-bottom 1px solid #ccc
      position relative

  .handle
    background #fff url('/images/knockout_todos/drag.png') no-repeat 8px 10px
    border-radius 10px 0 0 10px
    border 1px solid #ccc
    border-right none
    cursor move
    display none
    height 15px
    margin-top -12px
    padding 8px 2px
    position absolute
    left -10px
    top 50%
    width 25px

  li:hover .handle
    display block

ul
  li.danger,
  li.danger input
    color red

#title
  background #fff
  border-bottom 1px solid #999
  padding 2px 20px

#title p
  font-weight bold

#title p span
  font-weight normal
  padding-right 20px

.todo-hours input
  border 1px solid transparent
  font-size 16px
  font-style italic
  vertical-align top
  width 10%

.enteredTime
  text-align right

.done
  .todo-hours,
  .todo-hours input
    color #ccc

  input.enteredItem
    color #777
    text-decoration line-through

