#labs_bar
  height 20px
  padding 5px 10px
  font-family Arial
  font-size 12px
  text-align right
  background rgba(0,0,0,0.8)
  a
    color #eee
    text-decoration none
  a:hover
    color green
    text-decoration underline