@import 'normalize';
 

// quick hack to get canvas responsive
img,
canvas
  max-width 100%


html
  background #ddd url(images/labs_bg.png)
body
  width 90%
  margin 1em auto
  background-color #fff
  border 1px solid #999
  border-radius 5px
  padding 2.5%
  position relative

#logo
  img
    max-width 100%
    border 0

.notice
  background #f7f4ba
  border-radius 3px
  border 1px solid #ddd588
  font-weight bold
  margin -2em auto 0
  padding .375em .75em
  text-align center
  width 50%





