@import 'normalize';
 

// quick hack to get canvas responsive
img, canvas
  max-width 100%

ul, ul li
  list-style none

html
  background #e2e5e1

body
  font-family Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

#background-container
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  z-index 1
  overflow hidden
  > img
    position absolute
    width 110%
    left 0
    bottom 0
  #background-back
    max-width 100%
  #background-mid
    max-width 105%
  #background-front
    max-width 110%

#main
  z-index 2
  width 90%
  max-width 1024px
  margin 1em auto
  position relative
  > header
    margin-bottom 2.5%
  > header, #primary, #secondary
    background rgba(45, 51, 42, 0.95)
    padding 2.5%
    border-radius 8px
    color #fff

a, a:visited
  color #fff

#logo
  margin 0
  img
    max-width 100%
    border 0
  span
    float right
    text-align-right
  

.notice
  background #f7f4ba
  color rgb(45, 51, 42)
  border-radius 3px
  border 1px solid #ddd588
  font-weight bold
  margin -2em auto 0
  padding .375em .75em
  text-align center
  width 50%
  a, a:visited
    color rgb(45, 51, 42)

.projectlist
  li
    position relative
    display inline-block
    margin 10px
    border 2px solid #000
    .screenthumb
      width 150px
      height 150px
    span
      position absolute
      background rgba(0,0,0,0.75)
      left 0
      right 0
      bottom 0
      padding 5px

#demo_container
  margin 10px auto
  position relative
  background #000
  border-radius 5px
  padding 5px
  border 1px solid #999
  box-shadow 0 0 10px #000


.right
  float right
.left
  float left
.clear
  clear both




