doctype html
html
  block vars
  head
    title #{pageTitle}
    // main styles
    link(href="/static/css/layout.css", rel="stylesheet")
    link(href="/static/css/styles.css", rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Lato:400,900,300&amp;subset=latin", rel="stylesheet", media="all")
    block styles
  body
    h1 
      a(href="/") 
        img(src="http://skookum.com/public/images/wordmark.svg")
        span Labs
    .container
      block content
    .footer
    block scripts
    block analytics
      script.
      // google analytics code, etc...
