link(rel='stylesheet', href='/styles/skookball.css')  
  
#demo_container
  canvas#arena
  #fps
  
  
script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
  
script(type="text/javascript", src="/js/skookball/canvas_util.js")
script(type="text/javascript", src="/js/skookball/game_util.js")
script(type="text/javascript", src="/js/skookball/game.js")
  