!!! 5
html
  head
    meta(charset="utf-8")
    title Skookum Labs
    link(rel='stylesheet', href='/styles/layout.css' )
    link(rel='stylesheet', href='/styles/labs_bar.css' )
    meta(name='viewport', content='width=device-width; initial-scale=1; maximum-scale=1; user-scalable=1;')
  body
    div#background-container
      img#background-back(src="/images/background.jpg", data-xrange="10", data-yrange="0")
      img#background-mid(src="/images/midground.png", data-xrange="18", data-yrange="0")
      img#background-front(src="/images/foreground.png", data-xrange="40", data-yrange="0")
    div#main
      header
        h1#logo
          a(href='/')
            img(src='/images/logo.png', alt='Skookum Labs')
      section#primary
        div.notice We're hiring! 
          a(href='http://skookum.com/jobs/') Join us
        != body
    script(src="/js/lib/jquery-1.6.2.min.js")
    script(src="/js/lib/plax.js")
    script(src="/js/labs.js")