!!! 5
html
  head
    meta(charset="utf-8")
    title Skookum Labs
    link(rel='stylesheet', href='/styles/layout.css' )

  body
    div.notice We're hiring! 
      a(href='') Join us
    h1#logo Skookum Labs
    != body
