- if (typeof page_title == 'undefined') page_title = 'Labs'
!!! 5
html
  head
    meta(charset="utf-8")
    title Skookum Labs
    link(rel='stylesheet', href='/styles/layout.css' )
    link(rel='stylesheet', href='/styles/labs_bar.css' )
    meta(name='viewport', content='width=device-width; initial-scale=1; maximum-scale=1; user-scalable=1;')

    script(src="/js/lib/jquery-1.6.2.min.js")
    script(src="/js/lib/plax.js")
    script(src="/js/lib/amplify.min.js")
    script(src="/js/lib/underscore.js")
    script(src="/js/lib/knockout-1.3.0beta.js")
  body
    div#background-container
      img#background-back(src="/images/background.jpg", data-xrange="10", data-yrange="0", data-invert="true")
      img#background-mid(src="/images/midground.png", data-xrange="18", data-yrange="0", data-invert="true")
      img#background-front(src="/images/foreground.png", data-xrange="40", data-yrange="0", data-invert="true")
    div#main
      header#header(role='banner')
        a#logo(href='/')
          img(src='/images/logo.png', alt='Skookum Labs')
        h1.page-title!= page_title
      div#primary
        p.notice We're hiring! 
          a(href='http://skookum.com/jobs/') Join us
        != body

    script(src='/js/labs.js')
    script
      var _gaq=[['_setAccount','UA-332390-1'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));


